* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --green: #7dde92;
  --red: #FE6D6A;
  --white: #f8ffe5;
}

body {
  background-color: var(--white);
}

input,
button,
textarea,
select {
  font: inherit;
}